<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
      <link rel="stylesheet"  href="{% static 'stylebase.css' %}">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>

    
  </head>
 


  <body>
    <nav> 
      
        <div class= "container">
          <h1> Audiowave </h1>

                <div class = "menu">
                    <a href="#" class= "is-active">Home</a>
                    <a href="#">Login</a>
                    <a href="#">Audio</a>
                </div>

    
  
                 <button class="hamburger is-active">
                    <span></span>
                    <span></span>
                    <span></span>
                 </button>
          </div>
      </nav>


      
      <div class= "container1">
        <p>tt</p>
      </div>










      
	<script src={% static 'index.jss' %}></script>
  </body>

</html>
